<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <title>Super Toy Smash</title>
</head>
<body>
    <header class="div-header">
        <nav class="menu">
            <ul>
                <img class="logo" src="../assets/img/header-light-icon.png" alt="Super Smash Bros logo">
                <li><a href="#">Start</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </header>
    <main class="div-main">
        <section>
            <div>
                <h1>Cooming Soon</h1>
                <p>Subscribe to our weekly news and you will be the first to buy our special edition toys</p>
                <form>
                    <input type="email" placeholder="Your email address" required>
                    <button type="submit">Send</button>
                </form>
            </div> 
        </section>
        <section>
            <div>
                <h2>Toys</h2>
                <ul>
                    <div class="container">
                        <div class="slider-wrapper">
                            <div class="card-list">
                               <div class="card-item">
                                <img src="" alt="Mario image" class="user-image">
                                <h2 class="user-name">Mario</h2> 
                                <p class="price">???</p>
                                <h6 class="size-toy">cm*cm</h6>
                               </div> 
                            </div>
                        </div>
                    </div>
                </ul>
            </div> 
        </section>
    </main>
    <footer class="div-footer">
        <h2>FAQ</h2>
        <ol>
            <li>
                <h3>Question 1</h3>
                <p>Answer</p>
            </li>
            <li>
                <h3>Question 2</h3>
                <p>Answer</p>
            </li>
            <li>
                <h3>Question 3</h3>
                <p>Answer</p>
            </li>
            <li>
                <h3>Question 4</h3>
                <p>Answer</p>
            </li>
        </ol>
        <div>
            <p>Super Smash Bros &copy;2024</p>
        <div>
    </footer>  
</body>
</html>

