@font-face {
    font-family: 'Matemasie';
    src: url('../assets/fonts/Matemasie-Regular.ttf');
}

@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}