/* 
    Desktop 
*/
.menu {
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    width: 4%;
    padding: 4px;
    background-color: white;
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(1.3);
}

.menu ul {
    display: flex;
    width: 100%;
    margin: 0 8%;
    background-color: white;
}

.menu ul li {
    width: 10%;
    margin: 0 8%;
    text-align: center;
    background-color: white;
}

.menu ul li a {
    display: inline-flex;
    text-decoration: none;
    font-family: LilitOne;
    font-size: 1.8em;
    transition: transform 0.5s;
    color:rgb(51, 51, 51);
    background-color: white;
}

.menu ul li a:hover {
    transform: scale(1.2);
    color:rgb(232, 59, 59);
    transition: color 0.5s;
}

.menu ul li a svg {
    padding: 0 8px;
    background-color: white;
}

.btn-list {
    display: none;
}

.list {
    display: none;
}


/* 
    Mobile 
*/
@media only screen and (max-width: 768px) {
    .logo {
        width: 10%;
        margin: auto;
        padding: 2px 0;
        background-color: white;
    }

    .menu ul {
        display: none;
    }

    .btn-list {
        display: block;
        position:absolute;
        right: 24px;
        background-color: white;
    }

    .list {
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        padding: 0;
        background-color: white;
    }

    .list-logo {
        display: flex;
        position: relative;
        width: 10vw;
        margin: 10px auto;
        background-color: white;
    }

    .list-line {
        display: flex;
        position: relative;
        width: 90%;
        height: 2px;
        border-radius: 32%;
        background-color:rgb(232, 59, 59);
    }
}