.menu {
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    width: 4%;
    padding: 4px;
    background-color: white;
    transition: transform 0.5s;
}

.logo:hover {
    transform: scale(1.3);
}

.menu ul {
    display: flex;
    width: 100%;
    margin: 0 8%;
    background-color: white;
}

.menu ul li {
    width: 10%;
    margin: 0 8%;
    text-align: center;
    background-color: white;
}

.menu ul li a {
    display: inline-flex;
    text-decoration: none;
    font-family: LilitOne;
    font-size: 1.8em;
    transition: transform 0.5s;
    color:rgb(51, 51, 51);
    background-color: white;
}

.menu ul li a:hover {
    transform: scale(1.2);
    color:rgb(232, 59, 59);
    transition: color 0.5s;
}

.menu ul li a svg {
    padding: 0 8px;
    background-color: white;
}