* {
    font-family: NotoSans;
}

.div-header {
    width: 98%;
    padding: 1%;
    margin-bottom: 50px;
    background-color: rgb(232, 59, 59);
}

.div-main {
    width: 98%;
    padding: 1%;
    background-color: salmon;
}

.div-footer {
    width: 98%;
    padding: 1%;
    position: fixed;
    bottom: 0;
    background-color: burlywood;
}