/* 
    Desktop 
*/
* {
    font-family: NotoSans;
    background-color: rgb(232, 59, 59);
}

.div-header {
    width: 98%;
    padding: 1%;
    top: 0px;
    position: sticky;
    margin-bottom: 50px;
    background-color:white;
}

.div-main {
    width: 98%;
    padding: 1%;
    background-color: salmon;
}

.div-footer {
    width: 98%;
    height: 30px;
    padding: 1%;
    position: fixed;
    bottom: 0px;
    background-color: white;
}

/* 
    Mobile 
*/
@media only screen and (max-width: 768px) {
    
}